<template>
    <div>
        <UserList/>
    </div>
</template>

<script>
    import UserList from "../components/UserList";
    export default {
        name: "UsersPage",
        components: {UserList}
    }
</script>

<style scoped>

</style>
