<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
        <b-container>
            <b-navbar-brand href="#">AppLogo</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <li class="nav-item"><router-link class="nav-link" to="/users">Users</router-link></li>
                    <li class="nav-item"><router-link class="nav-link" to="/todos">Todos</router-link></li>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
    export default {
        name: "AppMenu"
    }
</script>

<style scoped>

</style>
