<template>
    <b-container>
        <h1>
            Todos
        </h1>
        <b-table striped hover :items="items" :fields="fields">
            <template v-slot:cell(completed)="data">
                {{data.value?"yes":"no"}}
            </template>
        </b-table>
    </b-container>
</template>

<script>
    export default {
        name: "TodoList",
        data() {
            return {
                items: [],
                fields: [
                    'title',
                    'completed'
                ]
            }
        },
        methods: {
            fetchItems() {
                fetch('https://jsonplaceholder.typicode.com/todos')
                    .then(response => response.json())
                    .then(json => {
                        this.items = json;
                    })
                    .catch(error => console.error(error));
            },
        },
        mounted() {
            this.fetchItems()
        }
    }
</script>

<style scoped>
    h1{
        margin-top: 20px;
    }
    table.table{
        text-align: left;
    }
</style>
