<template>
    <b-container>
        <h1>
            Users
            <b-button class="create-user-button" variant="success" v-b-modal.user-modal>
                <font-awesome-icon icon="plus"/> Create
            </b-button>
        </h1>
        <b-table striped hover :items="items" :fields="fields">
            <template v-slot:cell(id)="data">
                <b-button type="submit" variant="danger" v-on:click="remove(data.value)">
                    <font-awesome-icon icon="trash"/> Delete
                </b-button>
            </template>
        </b-table>
        <b-modal id="user-modal" title="Create user" hide-footer>
            <b-form @submit="onSubmit" class="user-form">
                <b-form-group
                        id="input-group-1"
                        label="Email address:"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            required
                            placeholder="Enter email"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="form.name"
                            required
                            placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Phone:" label-for="input-3">
                    <b-form-input
                            id="input-3"
                            v-model="form.phone"
                            required
                            placeholder="Enter phone"
                    ></b-form-input>
                </b-form-group>

                <b-button :disabled="this.creating" type="submit" variant="primary">Submit</b-button>
            </b-form>
        </b-modal>
    </b-container>
</template>

<script>

    export default {
        name: "UserList",
        data() {
            return {
                form: {
                    email: "",
                    name: "",
                    phone: "",
                },
                items: [],
                fields: ['name',
                    'email',
                    'phone',
                    {
                        key: 'id',
                        label: 'Actions'
                    }
                ],
                creating: false
            }
        },
        methods: {
            fetchItems() {
                fetch('https://jsonplaceholder.typicode.com/users')
                    .then(response => response.json())
                    .then(json => {
                        this.items = json;
                    })
                    .catch(error => console.error(error));
            },
            create(user) {
                this.creating = true;
                fetch('https://jsonplaceholder.typicode.com/users', {
                    method: 'POST',
                    body: JSON.stringify(user),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                })
                    .then((response) => response.json())
                    .then((created) => {
                        this.items.push(created);
                        this.form = {
                            email: "",
                            name: "",
                            phone: ""
                        };
                        this.creating = false;
                        this.$bvModal.hide("user-modal");
                    })
            },
            onSubmit(evt) {
                evt.preventDefault();
                this.create(this.form);
            },
            remove(userId) {
                fetch(`https://jsonplaceholder.typicode.com/users/${userId}`, {
                    method: 'DELETE',
                }).then(() => {
                    const itemPos = this.items.findIndex(u => u.id === userId);
                    if(itemPos >= 0){
                        this.items.splice(itemPos, 1);
                    }
                })
            }
        },
        mounted() {
            this.fetchItems()
        }
    }
</script>

<style scoped>
    h1{
        margin-top: 20px;
    }
    table.table{
        text-align: left;
    }
    .create-user-button{
        float: right;
    }
    .user-form button[type="submit"]{
        float: right;
    }
</style>
