<template>
  <div id="app">
    <AppMenu/>
    <router-view/>
  </div>
</template>

<script>

import AppMenu from "./components/AppMenu";
export default {
  name: 'App',
  components: {AppMenu}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
